## Q1

In [1]:
def swap(x, y):
    """
    Task 1
    - Create a function that would swap the value of x and y using only x and y as variables.
    - x and y must be numeric.
    - Return -1 if x and y is not numeric, and
    - print the swapped values if both x and y are numeric.
    """

    # Checking if x and y is numeric
    if isinstance(x,(int,float)) == False:
        return -1
    if isinstance(y,(int,float)) == False:
        return -1

    newx = y
    newy = x

    print('X is now {0} and Y is now {1}'.format(newx,newy))
    return

# Task 2
# Invoke the function "swap" using the following scenarios:
# - "Apple", 10
# - 9, 17

In [2]:
swap("Apple",10)

-1

In [3]:
swap(9,17)

X is now 17 and Y is now 9

## Q2

In [4]:
def find_and_replace(lst, find_val, replace_val):
    """
    Task 1
    - Create a function that searches for all occurrences of a value (find_val) in a given list (lst) and replaces them with another value (replace_val).
    - lst must be a list.
    - Return the modified list.
    """
    
    # Checking if lst is a list
    if isinstance(lst, list) == False:
        print("The input is not a list")
        return -1

    new_lst = lst[:]
    for idx, each in enumerate(new_lst):
        if each == find_val:
            new_lst[idx] = replace_val
    return new_lst

# Task 2
# Invoke the function "find_and_replace" using the following scenarios:
# - [1, 2, 3, 4, 2, 2], 2, 5
# - ["apple", "banana", "apple"], "apple", "orange"

In [5]:
find_and_replace([1, 2, 3, 4, 2, 2], 2, 5)

[1, 5, 3, 4, 5, 5]

In [6]:
find_and_replace(["apple", "banana", "apple"], "apple", "orange")

['orange', 'banana', 'orange']

In [7]:
find_and_replace((1,2,3), 2,1)

The input is not a list

-1

## Q3

In [8]:
def update_dictionary(dct, key, value):
    """
    Task 1
    - Create a function that updates a dictionary (dct) with a new key-value pair.
    - If the key already exists in dct, print the original value, then update its value.
    - Return the updated dictionary.
    """

    
    if key in dct:
        old_value = dct[key]
        dct[key] = value
        print("Replacing key '{0}' from original value {1} to {2}".format(key,old_value, value))
    else:
        dct[key] = value
    return dct

# Task 2
# Invoke the function "update_dictionary" using the following scenarios:
# - {}, "name", "Alice"
# - {"age": 25}, "age", 26

In [9]:
update_dictionary({}, "name", "Alice")

{'name': 'Alice'}

In [10]:
update_dictionary( {"age": 25}, "age", 26)

Replacing key 'age' from original value 25 to 26

{'age': 26}

## Q4

In [11]:
def string_reverse(s):
    """
    Task 1
    - Create a function that reverses a given string (s).
    - s must be a string.
    - Return the reversed string.
    """

    # Checking if s is a string
    if isinstance(s, str) == False:
        print("The input is not a string")
        return -1

    reverse_string = s[::-1]
    return reverse_string


# Task 2
# Invoke the function "string_reverse" using the following scenarios:
# - "Hello World"
# - "Python"

In [12]:
string_reverse("Hello World")

'dlroW olleH'

In [13]:
string_reverse("Python")

'nohtyP'

In [14]:
string_reverse(12345)

The input is not a string

-1

## Q5

In [15]:
def check_divisibility(num, divisor):
    """
    Task 1
    - Create a function to check if the number (num) is divisible by another number (divisor).
    - Both num and divisor must be numeric.
    - Return True if num is divisible by divisor, False otherwise.
    """

    # Checking if the number and divisor is s number
    if isinstance(num,(int,float)) == False:
        print('num is not a number')
        return -1
    if isinstance(divisor,(int,float)) == False:
        print('divisor is not a number')
        return -1

    # Make sure divisor is not a zero
    if divisor == 0:
        print('divisor must not be a zero')
        return -1
    
    if num%divisor == 0:
        return True
    return False


# Task 2
# Invoke the function "check_divisibility" using the following scenarios:
# - 10, 2
# - 7, 3

In [16]:
check_divisibility(10, 2)

True

In [17]:
check_divisibility(7, 3)

False

In [18]:
check_divisibility('7', 3)

num is not a number

-1

In [19]:
check_divisibility(76, 0)

divisor must not be a zero

-1

## Q6

In [20]:
def find_first_negative(lst):
    """
    Task 1
    - Create a function that finds the first negative number in a list (lst).
    - Return the first negative number if found, otherwise return "No negatives".
    - Use a while loop to implement this.
    """

    negatives = False
    negative_number = None
    end_of_list = len(lst)
    idx = 0

    while idx < end_of_list:
        if lst[idx] < 0:
            negatives = True
            negative_number = lst[idx]
            return negative_number
        idx += 1

    return "No negatives"


# Task 2
# Invoke the function "find_first_negative" using the following scenario:
# - [3, 5, -1, 7, -2, 8]
# - [2, 10, 7, 0]

In [21]:
find_first_negative([3, 5, -1, 7, -2, 8])

-1

In [22]:
find_first_negative([2, 10, 7, 0])

'No negatives'

## Q7

In [23]:
class Car:
    """
    Task 1
    - Define a class named Car with attributes: make, model, year
    - Initialize these attributes in the __init__ method
    - Add a method named describe_car() that prints information about the car as "Year Make Model"
    """

    def __init__(self, initMake, initModel, initYear):
        self.make = initMake
        self.model = initModel
        self.year = initYear
        
    def describe_car(self):
        print("Year: {0}, Make: {1}, Model: {2}".format(self.year, self.make, self.model))


# Task 2
# Create an instance of the Car class with the following attributes and call describe_car method:
# - Make: Toyota, Model: Corolla, Year: 2020

In [24]:
my_car = Car('Toyota', 'Corolla', 2020)

In [25]:
my_car.describe_car()

Year: 2020, Make: Toyota, Model: Corolla